form#pro_form1 label select.min{
    width: 90px;
}
form#pro_form1 label input.min{
    width: 75px;
}
form legend{
    font-weight: bold;
    font-size: 150%;
    font-family: 'Oswald', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}
#pro_form1 input[type="password"] {
    border-radius: 3px;
    width: 180px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 13px;
    vertical-align: middle;
    font-weight: normal;
    padding: 7px;
    margin: 0;
    background: #fff;
    border: 1px solid #ddd;
    outline: none;
    overflow: hidden;
}
#pro_form1 .grid_4:last-child input, #pro_form1 .grid_4:last-child select{
    max-width: 60%;
}
.container_12 .grid_3 {
    width: 217px;
}