<div class="c33l">
    <a href="{{ constant('ROOT') }}/noticias/noticia.php?id={{ noticia.id }}#col2_content">
        <center>
            <img src="{{ constant('ROOT')~constant('IMAGES')~ "misc/" ~ noticia.imagen }}"/>
        </center>
        <h3>{{ noticia.titulo }}</h3>
    </a>
</div>