{# empty Banner Principal #}
<div class="floatbox">
    <a href="{{ banner.urlDestino}}" title="{{ banner.titulo}}">
        <img src="{{ constant('ROOT')~constant('images_ads')~ banner.urlImagen}}" alt="{{ banner.titulo }}" style="width: 100%; border-radius:10px; margin-bottom:10px; height: 254px"/>
    </a>
</div>