{%extends "layout/base-admin.html.twig"%}
{%block titulo 'Confirmacion de Pago' %}
{%block content %}
<div class="floatbox">
    <h2>Solicitud Recibida</h2>
    <p>informacion de pago recibida, en breve nos pondremos en contacto con usted.</p>
    <a href="../usuarios">Regresar</a>
</div>
{%endblock%}
