{# empty Twig template #}


{% extends 'layout/base.html.twig' %}
{% block titulo 'Tarifas'%}

{% block content %}
<div align="center">
    <img src="{{ constant('ROOT')~constant('IMAGES')~"construccion.jpg"}}" style="width: 70%"/>
</div>
{% endblock %}